/* style.css */
* {
    /*border: 1px solid red;*/
}

body {
    width: 100%;
}

body.home {
    background-color: #1b244b;
}

header {
    min-height: 300px;
    display: block;
}

footer {
    margin-top: 5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

.work {
    margin-top: -5em;
}

.hero {    
    background: url("../img/background.jpg") no-repeat center center;
    height: auto;
    background-size: cover;
    padding: 25px 0 200px 0;
}

.title {
    padding-top: 5em;
    color: white;
}

.legals-nav a {
    color: white;
}

.legals-social a:hover {
    text-decoration: none;
}

.copyrights {
    color: white;
}

.line {
    background-color: #0092ca;
    height: 2px;
    max-width: 7em;
    border: none;
}

.section-end-line {
    max-width: 35em;
    width: 50%;
}

.featured-work {
    overflow: hidden;
    display: block;
    padding: 0;
    max-width: 100%;
}

.featured-work img {
    min-width: 420px;
    max-width: 420px;
    max-height: 200px;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
    box-shadow: 0px 5px 2px black;
}