/* style.css */
* {
    /*border: 1px solid red;*/
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-color: #1b244b;
    color: white;
    width: 100%;
}

header {
    min-height: 400px;
    padding-bottom: 100px;
}

footer {
    margin-top: 7em;
}

ul {
    list-style: none;
    padding-left: 0;
}

.title {
    padding-top: 100px;
}

legals li {
    display: inline;
}

.legals a {
    color: white;
}

.line {
    background-color: #0092ca;
    height: 2px;
    max-width: 100px;
    border: none;
}

.section-end-line {
    max-width: 600px;
    width: 50%;
}

.featured-work {
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.featured-work img {
    min-width: 420px;
    max-width: 420px;
    max-height: 200px;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
    box-shadow: 0px 5px 2px black;
}